* {
	margin:0;
	padding:0
}
body {
	margin:0;
	font-family:Arial,Helvetica,sans-serif;
	font-size:13px;
	line-height:1.5;
}
.swiper-container {
	height:900px;
	width:640px
}


.divtop{width: 38px;height: 60px;position: fixed;bottom: 30px;left: 50%;margin-left: -19px;z-index: 6;}
.btntop{cursor:pointer;z-index:5;margin-top:30px;width:50px;height:28px;}
.device {
	width:640px;
	height:auto;
	margin:0 auto;
	position:relative;
	overflow:hidden
}
.wiper-container {
	height:auto;
	width:640px;
	overflow:hidden
}
img {
	display:block;
	border:0
}
.hide {
	display:none
}
.rel {
	position:relative
}
.abs {
	position:absolute
}
.swiper-slide {
	width:640px;
	height:900px
}
.swiper-slide div {
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:9
}
div.bg {
	text-align:center;
	z-index:9
}
div.main {
	z-index:2
}
div.draw {
	opacity:0
}
div.resize img {
	width:0;
	bottom:0;
	right:0
}
div.down img {
	width:0;
	bottom:0;
	right:0
}
div.info {
	left:640px
}
/*
.ikea-audio .music p span {
	background:url("../images/music.png")no-repeat 0 0;
	background-size:cover;
	cursor:pointer
}
*/

/*
.ikea-audio {
	top:1%;
	right:1%;
	z-index:999;
	max-width:50px
}
.ikea-audio .music p {
	width:100%;
	height:100%
}
.ikea-audio .music p span {
	display:none;
	width:100%;
	height:100%
}
.ikea-audio .music p span:first-child {
	display:block
}
.ikea-audio .music audio {
	height:0;
	width:0;
	opacity:0
}
.ikea-audio .music p span.audio_open {
	background-position:-100% 0
}
.ikea-audio .music p span.audio_close {
	background-position:0 0
}
*/
.loading {
	text-align:center;
	height:128px;
	width:100%;
	z-index:99;
	top:0;
	left:0
}
.loading img {
	width:128px;
	margin:0 auto
}
div.videocontroller,div.video {
	bottom:0;
	left:0;
	height:39%;
	width:100%;
	z-index:9
}
div.video {
	z-index:10
}
.citylist {
	width:50%;
	height:23%;
	z-index:9;
	top:30.75%;
	left:25%
}
.citylist a {
	display:block;
	float:left;
	width:33%;
	height:25%;
	overflow:hidden;
	text-indent:-200%
}
.topShare {
	opacity:0;
	display:none;
}
.light {
	cursor:pointer;
	position:absolute;
	left:-180px;
	top:0;
	width:180px;
	height:90px;
	background-image:-moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
	background-image:-webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
	transform:skewx(-25deg);
	-o-transform:skewx(-25deg);
	-moz-transform:skewx(-25deg);
	-webkit-transform:skewx(-25deg);
}

/*
.btn_music a {
	float:left;
	display:inline-block;
	width:13px;
	height:17px;
	margin-right:2px;
}
.btn_music a.weibo {
	width:17px;
	position:absolute;
	right:0px;
	top:0px;
}
.btn_music a.jp-play {
	background:url("../images/play.png") no-repeat
}
.btn_music a.jp-pause {
	background:url("../images/stop.png") no-repeat -14px 0
}
.btn_music .listening-icon {
	background:url("../images/play.png") no-repeat;
	width:14px;
	height:14px;
	display:inline-block
}
.btn_music .listening-icon-pause {
	background:url("../images/stop.png") no-repeat;
	width:14px;
	height:14px;
	display:inline-block
}

.btn_music {
display: inline-block;
width: 63px;
height: 46px;
background: url("../images/play.png") no-repeat center center;
background-size: 100% auto;
position: fixed;
z-index: 100;
right: 45px;
top: 30px;
}
.btn_music.on {
    background-image: url("../images/stop.png");
}
*/

